*{
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
	list-style: none;
	letter-spacing: 2px;
}
body, html {
	font-family: sans-serif, Verdana, Tahoma;
	margin: 0px;
	width: 100%;
	font-size: 1.2em;
}
html{
	background-image: url("../imagens/asuleijo.jpg");
}
footer{
	clear: both;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: white;
	background: linear-gradient(90deg, rgb(0, 150, 75), rgb(0, 50, 25));
}

form{
	margin: 2%;
	display: block;
	font-size: 12pt;
}

form label, form input, form select, form button{
	margin: 0.2%;
	margin-top: 1%;
	display: inline-block;
}

form input, form select{
	border: solid black 1px;
	border-radius: 5px;
	margin: 1% 1% 1% 1%; 
	padding: 1%;
	width: 60%;
}

form select{
	width: 62.5%;
}

form button{
	min-width: 20%;
	max-width: 30%;
	min-height: 50px;
	max-height: 60px;
	margin: 1% 0% 1% 1%;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgb(0, 0, 0);
	border: 1px solid black;
	border-radius: 0px 10px 0px 10px;
	cursor: pointer;
}
form button:hover{
	background-color: #f45809;
	color: black;
	border-radius: 10px 0px 10px 0px;
	transform: scale(1.1);
	transition-duration: 0.8s;
}
form button:active{
	transform: scale(0.98, 0.98);
}

.elemento{
	margin-left: 5%;
	display: block;
	clear: right;
	margin-top: 1%;
}
.cabecalho{
	clear: right;
	width: 100%;
	position: absolute;
	top: 0px;
	height: 260px;
	color: white;
	background: #800000;
}
.cabecalho label{
	color: white; 
}
.cabecalho img{
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
}
.menu_principal
{
	min-width: 50%;
	max-width: 72%;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 200px;
	margin-left: 25%; 
}
.menu_principal ul > li
{
	min-width: 30%;
	max-width: 35%;
	line-height: 39px;
	margin-left: 1%;
	display: inline-block;
	font-size: 0.7em;
	text-align: center;
	background-color: #FFA500;
	border-radius: 0px 10px 0px 10px;
}
.menu_principal ul > li > a
{
	display: block;
	color: black;
	padding: 0.2%;
	width: 100%;
	cursor: pointer;
}
.menu_principal ul > li:hover{
	color: white;
	background-color: rgb(139,69,19);
	border-radius: 10px 0px 10px 0px;
	transform: scale(1.1);
	transition-duration: 0.5s;
	transition-delay: 0.2s;
}
.menu_principal ul > li > a:hover{
	color: white;
}

.menu_principal ul > li:active{
	box-shadow:  none;
	bottom: 4px;
	position: relative;
}
.horarios
{	
	margin-left: 1%;
	margin-top: 0.5%;
	font-size: 11pt;
	width: 30%;
	padding: 1%;
}
.localizacao
{
	float: right;
	position: absolute;
	top: 10px;
	right: 10px;
	border: 1px solid black;
	width: 40%;
	height: 230px;
}
iframe{
	width: 100%;
	height: 100%;
}
.corpo
{
	clear: both;
	margin-top: 260px;
}


.conteudo
{
	width: 100%;
}
.mesas
{
	margin: 1%;
}
.mesa{
	display: inline-block;
	width: 10%;
	height: 95px;
	line-height: 80px;
	color: white;
	text-align: center;
	background-image: url("../imagens/mesa.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%;
	margin: 0.3%;
}
.mesa:hover{
	cursor: pointer;
	transform: scale(1.2);
	transition-duration: 0.5s;
	transition-delay: 0.2s;
}

.pedido_mesa
{
	border: 1px solid black;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
	background-color: rgba(247, 184, 9,0.8);
}
.conta_mesa
{
	float: left;
	width: 47.8%;
	height: 300px;
	overflow: auto;
}
.table-relatorio{
	width: 90%;
	margin-bottom: 25px;
	margin-top: 1%;
	border: 1px solid black;
}

.table-relatorio th,td{
	padding: 2px 4px 2px 4px;
}

th
{
	font-size: 16pt;
}

td
{
	font-size: 10pt;
}

.relatorio{
	font-size: 12pt;
	margin: 1% 1% 1% 1%;
}
.modal{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.8);
}
.conteudo_modal{
	width: 60%;
	height: 200px;
	margin-top: 5%;
	padding-top: 10%;
}
.conteudo_modal label{
	color: white;
	font-size: 2.6em;
}

.menu_cadastro
{
	min-width: 70%;
	max-width: 70%;
	display: inline-block;
	height: 40px;
	margin-top: 10%;
}
.menu_cadastro ul > li
{
	min-width: 30%;
	max-width: 35%;
	line-height: 39px;
	margin-left: 2%;
	display: inline-block;
	font-size: 0.7em;
	text-align: center;
	background-color: #FFA500;
	border-radius: 0px 10px 0px 10px;
}
.menu_cadastro ul > li > a
{
	display: block;
	color: black;
	padding: 0.2%;
	width: 100%;
	cursor: pointer;
}
.menu_cadastro ul > li:hover{
	color: white;
	background-color: rgb(139,69,19);
	border-radius: 10px 0px 10px 0px;
	transform: scale(1.1);
	transition-duration: 0.5s;
	transition-delay: 0.2s;
}
.menu_cadastro ul > li > a:hover{
	color: white;
}

.menu_cadastro ul > li:active{
	box-shadow:  none;
	bottom: 4px;
	position: relative;
}

.cadastros
{
	margin-top: 20%;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: 250px;
	padding: 2%;
	background-color: rgba(247, 184, 9,0.8);
	border: 2px solid black;
	border-radius: 10px;
}